body{
    background-color: #F7F9FA;
}

.validata-field{
    text-align: center;
    display: block;
    background: white;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 3px;
    margin: 5px 4px;
    width: 100%;
}
.validata-field>.validata-fieldbox{
    width: 100%;
    height: auto;
    display: inline-flex;
}
.validata-field>.validata-fieldbox>.validata-fieldbox-icon,
.validata-feedback-validation{
   max-width: 30px;
}
.validata-field>.validata-fieldbox>.validata-fieldbox-input{
    border: 0px;
    width: auto;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
.validata-field>.validata-fieldbox>.validata-fieldbox-input:focus{
    outline: 0
}
.validata-field>.validata-fieldbox>.validata-fieldbox-icon>i{
    padding: 6px;
    display: block;
}
.validata-field>.validata-fieldbox>.validata-feedback-validation>i{
    padding: 6px;
    display: block;
}


